{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h3 class="mb-0">
                Student Management System
            </h3>

        </div>

        <div class="card-body">

            <div class="d-flex justify-content-between align-items-center mb-4">

                <div>
                    <h5>
                        Welcome {{ session['user_name'] }}
                    </h5>

                    <small class="text-muted">
                        {{ session['user_email'] }}
                    </small>
                </div>

                <a href="/add" class="btn btn-success">
                    Add Student
                </a>

            </div>














            {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

        {% for category, message in messages %}

            <div class="alert alert-success">

                {{ message }}

            </div>

        {% endfor %}

    {% endif %}

{% endwith %}

            <table class="table table-bordered table-hover">

                <thead class="table-dark">

                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Course</th>
                        <th>Action</th>
                    </tr>

                </thead>

                <tbody>

                    {% for abc in students %}

                    <tr>

                        <td>{{ abc[0] }}</td>
                        <td>{{ abc[1] }}</td>
                        <td>{{ abc[2] }}</td>
                        <td>{{ abc[3] }}</td>

                        <td>

                            <a href="/edit/{{ abc[0] }}"
                               class="btn btn-warning btn-sm">

                               Edit

                            </a>

                            <a href="/delete/{{ abc[0] }}"
                               class="btn btn-danger btn-sm">

                               Delete

                            </a>

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}


 